$blog-gray8: gray;

.articleCreate {
}
.editorWrapper {
  min-width: 628px;
  width: calc(100% - 14px);
  min-height: 300px;
  margin-bottom: 30px;
  overflow: auto;

  border: 1px solid $blog-gray8;
  background-color: white;
}

.editorWrapper .rdw-editor-toolbar {
  //width: 602px;
  width: calc(100% - 10px);
  border-top: none;
  border-left: none;
  border-right: none;
}

.editorWrapper .public-DraftStyleDefault-block {
  margin-top: 4px;
  padding-left: 14px;
  padding-right: 14px;
}

.DraftEditor-editorContainer {
  height: 160px;
}
.home-editor {
  height: 160px !important;
}

///////// EDITOR TOOLBAR  /////////
.rdw-inline-wrapper {
  div:nth-child(4),
  // Strike through
  div:nth-child(5),
  // Code
  div:nth-child(6),
  // Superscript
  div:nth-child(7) {
    // Subscript
    display: none;
  }
}
.rdw-link-wrapper {
  div:nth-child(2) {
    display: none;
  }
}
.rdw-embedded-wrapper {
  // Embedded
  div:first-child {
    display: none;
  }
}
.rdw-emoji-wrapper {
  // Emoji
  display: none;
}
.rdw-remove-wrapper {
  display: none;
}

.home-wrapper {
  display: block;
  background-color: #fefefe;
  color: #0a0a0a;
  // transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  margin: 0 0 1rem;
  border: 1px solid #e6e7ea;
  // box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.home-editor {
  height: 20rem;
  width: calc(100% - 20px);
  padding: 10px;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.home-toolbar {
  margin-bottom: 0;
  display: flex;
  align-items: center;

  .rdw-option-wrapper {
    padding: 8px;
    height: 25px;
    border: none;
    height: none;
  }

  .rdw-option-active {
    box-shadow: none;
    font-weight: 500;
  }
  .rdw-inline-wrapper {
    margin: 0;
  }
}
