[class$='-page']{
    font-size: 17px !important;
    margin-bottom: 9rem;

    *{
        font-family: 'Roboto', sans-serif !important; 
        font-weight: 300;
    }

    ul{
        list-style: none !important;
    }

    .row{
        max-width: 90rem !important;
    }

    main{
        &>*{
            padding-top:4rem;
        }

        p{
            line-height: 1.61;

            &:last-child{
                margin-bottom: 0;
            }
        }

        .title{
            text-align: center;
            margin-bottom: 3rem;
            color: #A2B2C3;
            font-weight: 400;
        }    
    }

    .header-content{   
        &, button{
            color: white;
        }

        button{
            border: 2px solid white;
            padding:0.6rem;
            font-weight: 500;
        }

        .light-title{
            font-weight: 200;
        }

        .heavy-title{
            font-weight: 500;
        }
    }
}

